<div class="p-5 bg-secondary-subtle shadow-lg mt-5">
  <mat-form-field class="w-100">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let row"> {{itemEdit !== row.id ? row.name : ''}}
          <span class="position-relative" *ngIf="itemEdit===row.id">
        <input class="form-control" [attr.data-itemid]="row.id" [autofocus]="true" [value]="row.name"
        >
            <button class="position-absolute btn-clear" (click)="clear(row)">X</button>
          </span>
        </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CreatedAt</th>
        <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CreatedAt</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="handleEdit(row)">
            <mat-icon>
              {{itemEdit === row.id ? 'save' : 'border_color'}}
            </mat-icon>
          </button>
          <button mat-icon-button color="warn"  (click)="delete(row)">
            <mat-icon>
              do_not_disturb_on
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>


</div>
