<div class="container ">
  <div class="bg-secondary-subtle m-auto shadow-lg p-5 w-50 text-center">
    <div>
      <h1>Đăng nhập</h1>
      <p>Đăng nhập tài khoản của bạn tại đây.</p>
    </div>
    <mat-form-field class="w-100">
      <mat-label>Tài khoản</mat-label>
      <input matInput placeholder="user1" [formControl]="userName" required>
      <mat-error *ngIf="userName.invalid">{{getUserNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Mật khẩu</mat-label>
      <input matInput placeholder="***" [formControl]="passWord" required type="passWord">
      <mat-error *ngIf="passWord.invalid">{{getPassWordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="p-4 mt-3 w-100" (click)="handlerLogin()">Đăng nhập</button>
    <p>Bạn chưa có tài khoản?<button mat-button color="primary" routerLink="/register">Dăng ký</button></p>
  </div>
</div>
