<div class="p-5 comment-form" >
  <div class="mb-5">
    <h1 class="mb-2">Để lại bình luận</h1>
    <p class="fs-6">Bạn có thể để lại bình luận tại form sau:</p>
  </div>
  <div>
    <div class="mb-5">
      <label class="mb-3 fs-6" for="name_user_comment">Tên:</label>
      <input class="form-control" id="name_user_comment">
    </div>
    <div >
      <label class="mb-3 fs-6" for="comment_body">Bình luận:</label>
      <textarea rows="10" class="form-control" id="comment_body"></textarea>
    </div>
  </div>
  <div class="mt-5">
    <button mat-raised-button color="primary">Gửi</button>
  </div>
</div>
