<div class="d-inline-block p-5 mt-5 wrapper">

  <div class="d-flex flex-column align-items-center body p-5">
    <h1>Terms Add Condition</h1>
    <p>
      Anh là Iron Man. Anh rất vui sướng khi nhận được thư của em. Sau vụ tai nạn, em vẫn mạnh mẽ để vượt qua khó khăn. Điều đó khiến anh vô cùng ngưỡng mộ và cảm phục. Khi nhận được câu hỏi của em về sức mạnh nào khiến anh thực hiện được sứ mệnh của mình, anh cũng đã tự hỏi bản thân rồi tìm ra được câu trả lời. Và anh đã viết lá thư này cho em.

      Sức mạnh nào giúp anh có thể hoàn thành tốt sứ mệnh cho mọi con đường trên thế giới an toàn hơn với trẻ em? Chắc chắn, sức mạnh đầu tiên phải đến từ tình yêu dành cho trẻ em nói riêng, cho con người trên Trái Đất nói chung. Không chỉ vậy, anh cũng cần phải có lòng dũng cảm, sự bản lĩnh và kinh nghiệm quý giá để có thể xử lí mọi tình huống xảy ra. Tất nhiên, anh cũng phải sử dụng năng lực siêu nhiên của mình nữa.
      Anh luôn cảm thấy rất hạnh phúc khi có thể làm được việc tốt. Chính vì vậy, anh sẽ tiếp tục công việc này. Vài hôm nữa, anh sẽ đến thăm em. Chúc em sớm khỏe mạnh để trở về với cuộc sống bình thường.
    </p>
    <button mat-raised-button color="primary">Trở lại trang chủ</button>
  </div>

</div>
