<form [formGroup]="formGroup">
  <div class="p-5 subscription-from-wrapper text-center mt-5">
    <h1 class="text-uppercase">Subscription from</h1>
    <p class="my-3">Hãy ăng ký vé đi đu ido tại đây</p>
    <div class="my-3 d-flex align-items-center">
      <div class="d-flex flex-fill">
        <input class="w-50 form-input" formControlName="name"  type="text" placeholder="Tên của bạn">
        <input class="w-50 form-input" formControlName="email" type="email" placeholder="Email">
      </div>
      <button class="btn-subscription" (click)="handlerSub()">Đăng ký</button>
    </div>
  </div>
</form>

